* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {

   
    height: 70px;
    background-color: #8BC6EC;
    background-image: linear-gradient(to right, #691b22, #000000);

}

body {
    background-color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 60px;
    font-family: 'IM Fell English SC', serif;
    
}


.line1 {
    width: 30px;
    height: 5px;
    margin: 6px;
    background: white;
}
.line2 {
    width: 30px;
    height: 5px;
    margin: 6px;
    background: white;
}
.line3 {
    width: 30px;
    height: 5px;
    margin: 6px;
    background: white;
}


nav {
    position: relative;
}
.menu_btn{
    
    position: absolute;
    cursor: pointer;
    right: 2%;
    top: 20%;
    transform: translate(2%, -20%);
    /* transform: all 0.5s ease-in-out; */
    z-index: 2;
}
/* .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(5%, -50%);
    z-index: 2;
} */

.cont {
    height: 100vh;
    background-image: linear-gradient(to right, #000000, #691b22);
    width: 100%;
    clip-path: circle(10px at 90% -10%);
    -webkit-clip-path: circle(10px at 90% -10%);
    transition: all 0.9s ease-out;
    pointer-events: none; 
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    align-items: flex-end;
    padding-bottom: 90px;
    padding-left: 40px;
}
.login{
    color: white;
    font-size: 20px;
    /* flex-direction: column;
    display:flex;
    align-items: left;
    justify-content: flex-end; */
    padding-right: 40px;
    list-style: none;
    font-family: 'Zen Antique Soft', serif;
}
.nav-links{
    /*align-items: flex-start; */
    list-style: none;
}
.cont.open1 {
    clip-path: circle(1500px at 95% -10%);
    -webkit-clip-path: circle(1500px at 90% -10%);
    pointer-events: all;
}
.hamburger.open2 .line1{
    transform: rotate(45deg) translate(8.5px,7px);
    
}
.hamburger.open2 .line2{
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
.hamburger.open2 .line3{
    transform: rotate(-45deg) translate(8.5px,-7px);
}
@media screen and (max-width:768px) {
    .cont{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px;
    }
    .nav-links{
        margin: 0%;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
